* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'poppins', 'sans-serif';
}
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;

}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
  
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky {
    background: var(--bg-color);
}
.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
}
.navbar {
    position: relative;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('/images/turu\ copy.jpg') no-repeat;
    background-size: contain;
    background-position: right;

    

}
.home-content {
    max-width: 60rem;
    z-index: 99;
}
.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 4.0rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h1 span {
    color: var(--text-color);
}
.home-content .text-animate {
    position: relative;
    width: 32.8rem;

}
.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}
.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}



.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 28rem;
    height: 5rem;
}
.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 90%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box .btn:hover {
color: var(--main-color);
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
    width: 100%;

}
.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
   
    
}
 .home-sci a {
    position: relative;
    display: inline-flex;
    text-decoration: none; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
     border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);   
   
     z-index: 1;
    overflow: hidden;
    transition: .5s; 
}

 .home-sci a:hover{
    color: var(--bg-color);
}
 .home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;

}  
.home-imgHover{
position: absolute;
top: 0;
right: 0;
width: 45%;
height: 100%;
background: transparent;
transition: 3s;

}
.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}
.animate.home-img {
width: 50%;
}
.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}


/* media queeries */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    .header{
        padding: 2rem 4%;
    }
    .section{
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 4%;
    }
    
}

@media (max-width: 768px) {
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
    .header{
        background: var(--bg-color);
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }
    .navbar.active {
        left: 0;
        transition-delay: 0s;

    }
    
    .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0,0,0,.2);
    z-index: -1;
    transition: .25s ease;
    transition-delay: 0s;

    }

    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translate(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a{
        transform: translate(0);
        transition-delay: .25s;

    }
    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width: 520px) {
    .html{
        font-size: 50%;
    }
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
    .home-sci {
      width: 160px;
    }
    .home-sci a {
      width: 38px;
      height: 38px;

    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}
@media (max-width: 462px) {
 
    .home-content h1 {
        font-size: 5.2rem;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}
@media (max-width: 371px) {
 
    .home{
        justify-content: center;
    }
    .home-content{
       display: flex;
       align-items: center;
       flex-direction: column;
       text-align: center;
    }
    .home-content h1{
       font-size: 5rem;
    }
}

/* keyframes */
@keyframes homeBgText {
    0%,
    10%,
    100%{
        background-position: -33rem 0;
    }
    65%,
    85%{
        background-position: 0 0;
    }
}
@keyframes homeCursorText {
    0%,
    10%,
    100%{
        width: 0;
    }
    65%,
    78%,
    85%{
        width: 100%;
        opacity: 1;
    }
    75%,
    81%{ 
        opacity: 0;
    }
}
@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

/* skills section*/

.skills{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.skillsheading{
    font-size: 4rem;
    color: var(--main-color);
}

.scroller{
    padding: 4rem 0;
    max-width: 100%;
  
}
.inner-scroller{
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    flex-wrap: wrap;
    background: var(--text-color);
    color: var(--bg-color);
}
.inner-scroller h1{
    font-size: 3rem;
    height: 50px;
    margin: 0 4rem;
    color: var(--bg-color);
}
.scroller[data-animated="true"]{
   
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-animated="true"].animated .inner-scroller{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll  var(--_animation-duration, 20s)   var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
@keyframes scroll {
to{
    transform: translate(calc(-50% - 0.5rem));
}
}
/* about */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span {
    color: var(--main-color);
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    

}
.about-img .circle-spin{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(0);
width: 60%;
height: 60%;
border-radius: 50%;
border-top: .2rem solid var(--second-bg-color);
border-bottom: .2rem solid var(--second-bg-color);
border-left: .2rem solid var(--main-color);
border-right: .2rem solid var(--main-color);
animation: aboutSpinner 8s linear infinite;

}
.about-content{
    text-align: center;
}

.about-content p {
    width: 60%; 
    margin: 20px auto; 
    line-height: 1.6; 
    font-size: 1.6rem;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.btn-box.btns a::before{
    background: var(--second-bg-color);
}


/* projects */
.projects{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 background: var(--second-bg-color);
    font-size: 2rem;   
    padding: 2rem;
    
}

#projects h2{
    margin-bottom: 1.5rem;
    color: var(--main-color);
    text-align: center;
    font-size: 3.5rem;
}
.project h3{
    margin-bottom: 1.5rem;
}
.project img{
    width: 100%;
}

.prlink a{
  
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    margin-top: .5rem;
    text-decoration: none;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.prlink a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
   
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.prlink a:hover::before{
    width: 100%;
    color: var(--text-color);
}
.prlink a p {
    font-size: 2.0rem;
    color: var(--bg-color);
    transition: .5s;
}
.prlink a:hover p {
  
    color: var(--main-color);
}
/* contact */
.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
   

}
.map{
    padding: 1rem 3rem;
   width: 100%;
   height: 100%;
    /* background-color: red; */
    left: 0;
}
.map img{
    width: 70rem;
    height: 70vh;
}
.form{
    padding: 1rem 3rem;
  background: var(--second-bg-color);
  /* z-index: 2; */
}
.form h2 {
    margin-bottom: 2rem;
    justify-content: center;
    font-size: 2.5rem;
}
form{
    padding-top: 3rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form form input{
    margin-bottom: 2rem;
    padding: .5rem 1.0rem;
    width: 26rem;
    
}

.actions{
    position: relative;
    display: flex;
    margin: 2rem;
}

.actions .inpt {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    padding: .5rem 1.0rem;
    width: 10rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
   z-index: 1;
   overflow: hidden;
    transition: .5s;

}
.actions .inpt:hover {
color: var(--main-color);
background: var(--bg-color);
}

.actions .inpt::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: red;
    z-index: -1;
    transition: .5s;
}
.actions .inpt:hover::before{
    width: 100%;

} 

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}




@media screen and (max-width:850px) {
    .contacts{
        display: flex;
        flex-direction: column;
      
    }
 .map{
       
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        width: 30rem;
    }
  
}

/* @media screen and (max-width:1000px) {
    .home{
        background-image: none;
    }
       
} */
@media screen and (max-width:950px) {
    .projects{
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width:1150px) and (min-width:850px){
    .contacts{
        display: grid;
        grid-template-columns: 50% 50%;
       
      column-gap: 3rem;
    }
   
    .map{
       
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem 1rem;
        padding-right: 2rem;
      
    }
   .form{
    margin: 1rem;
   }
   .form form input{
    margin-bottom: 1.5rem;
    padding: .5rem 1.0rem;
    width: 26rem;
    
}
.actions{
   
    display: inline-block;
    margin: 2rem;
}


.actions .inpt {

  
    margin: 1.0rem;
    padding: .5rem .5rem;
    width: 10rem;
}
}

@media only screen and (max-width:1290px) and (min-width:1201px){

.actions{
   
    display: inline-block;
    margin: 1.2rem;
}


.actions .inpt {

  
    margin: 1.2rem;
    padding: .5rem .7rem;
    width: 9.2rem;
}
}


/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p {
    font-size: 1.3rem;
  
}
.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}
.footer-iconTop a:hover i {
  
    color: var(--main-color);
}

















